@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgb(17, 17, 17);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 40px;
  border-color: rgb(103, 103, 103);
  border-style: solid;
  border-width: 1px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), 0 0 20px rgba(255, 255, 255, 0.6); /* Added glow */
  z-index: 2;
}

table {
  font-size: 14px;
  width: 100%;
  padding: 6px;
  background-color: rgb(201, 201, 201);
  color: black;
}

th, td {
  padding: 6px;
  text-align: left;
  font-family: 'Roboto';
  line-height: 1.6;
}

th {
  background-color: rgb(201, 201, 201);
}

tr:nth-child(odd) {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

caption {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

pre {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: rgb(29, 27, 26);
  display: flex;
  color: white;
  padding: 3px;
  width: 80%;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(40, 37, 35);
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(74, 50, 255, 0.05), 0 0 20px rgba(200, 166, 255, 0.3);
  overflow-x: auto;
  position: relative;
}

button {
  cursor: pointer;
  margin: 4px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  transition: opacity 0.15s, box-shadow 0.15s;
}

button:hover{
  opacity: 0.8;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.15);
}

button:active {
  opacity: 0.5;
}

footer {
	margin-top: auto;
	padding: 10px;
	background: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
