.default-btn {
  height: 38px;
  width: 100px;
  font-size: 14px;
  margin-left: 6px;
  margin-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  transition: opacity 0.15s;
}

.box-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: white;
  margin: 4px;
  row-gap: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 10px;
  border-color: rgb(160, 150, 200)
}

.primary-btn {
  background-color: rgb(0, 123, 255);
  color: white;
  border-color: rgb(0, 123, 255);
}

.secondary-btn {
  background-color: rgb(108, 117, 125);
  color: white;
  border-color: rgb(108, 117, 125);
}

.success-btn {
  background-color: rgb(40, 167, 69);
  color: white;
  border-color: rgb(40, 167, 69);
}

.danger-red-btn {
  background-color: rgb(220, 53, 69);
  color: white;
  border-color: rgb(220, 53, 69);
}

.warning-orange-btn {
  background-color: rgb(255, 193, 7);
  color: black;
  border-color: rgb(255, 193, 7);
}

.info-btn {
  background-color: rgb(23, 162, 184);
  color: white;
  border-color: rgb(23, 162, 184);
}

.light-btn {
  background-color: rgb(248, 249, 250);
  color: rgb(33, 37, 41);
  border-color: rgb(230, 250, 98)
}

.dark-btn {
  background-color: rgb(52, 58, 64);
  color: rgb(255, 255, 255);
  border-color: rgb(52, 58, 64);
}

.link-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 123, 255);
  border-color: rgb(100, 100, 100);
}

.link-btn:hover {
  background-color: rgb(0, 174, 255);
  color: white;
  border-color: white;
}

.undef-btn {
  background: linear-gradient(#e66465, #9198e5);
  color: white;
  font-weight: bold;
  border-color: lch(76 44 311);
}

.sky-btn {
  background: linear-gradient(lch(76 44 311), hsl(190, 76%, 74%));
  color: whitesmoke;
  font-weight: bold;
  border-color: whitesmoke;
}

.ice-btn {
  background: linear-gradient(whitesmoke, hsl(190, 76%, 74%));
  color: whitesmoke;
  font-weight: bold;
  border-color: gold;
}

.ocean-btn {
  background: linear-gradient(hsl(190, 76%, 74%), whitesmoke);
  color: whitesmoke;
  font-weight: bold;
  border-color: gold;
}

.guava-btn {
  background-color: hsl(18deg, 80%, 71%);
  color: black;
  font-weight: bold;
  border-color: oklch(80% 35% 110deg);
}

.melon-btn {
  background-color: hsl(90deg, 80%, 71%);
  color: white;
  font-weight: bold;
  border-color: yellowgreen;
}

.round-btn {
  width: 100px;
  height: 100px;
  font-size: 14px;
  font-family: sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 4px;
  border-radius: 50px;
}

.recycling-double {
  background-color: rgb(205, 219, 191);
  color: black;
  border-color: green;
  border-style: double;
}

.yummy-yam {
  background-color: lch(70 51 300);
  color: lch(30 50 300);
  font-weight: bold;
  border-color: lch(30 50 300);
}

.schema {
  background-color: lch(35 51 300);
  color: white;
  font-weight: bold;
  border: none;
}

.golden-ridge {
  background-color: rgb(247, 212, 10);
  color: rgb(200, 150, 30);
  font-weight: bold;
  border: rgb(194, 147, 26);
  border-width: 2px;
  border-style: ridge;
}

.download {
  background-color: white;
  color: rgb(121, 82, 179);
  font-weight: bold;
  border-color: rgb(121, 82, 179);
  border-width: 1px;
}

.email {
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

.sign-up {
  background-color: rgb(46, 164, 79);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

.get-started {
  background-color: rgb(121, 82, 179);
  color: white;
  font-weight: bold;
  border: none;
}

.log-in {
  background-color: rgb(29, 155, 240);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

.log-out {
  background-color: rgb(200, 0, 0);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}