table {
  font-size: 14px;
  width: 100%;
  padding: 6px;
  background-color: rgb(201, 201, 201);
  color: black;
}

th, td {
  padding: 6px;
  text-align: left;
  font-family: 'Roboto';
  line-height: 1.6;
}

th {
  background-color: rgb(201, 201, 201);
}

tr:nth-child(odd) {
  background-color: #f4f4f4;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

caption {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.code-box {
  background-color: rgb(29, 27, 26);
  display: flex;
  color: white;
  padding: 3px;
  width: 100%;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(40, 37, 35);
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(74, 50, 255, 0.05), 0 0 20px rgba(200, 166, 255, 0.3);
  overflow-x: auto;
  position: relative;
}

.tube-box {
  background-color: rgb(60, 60, 60);
  display: inline;
  color: lightskyblue;
  border-style: double;
  border-width: 2px;
  border-color: rgb(29, 27, 26);
  border-radius: 8px;
}

pre {
  width: 100%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.line-number {
  display: inline-block;
  width: 30px;
  margin-right: 10px;
  color: #616E88;
}

.page-wrap {
  margin: 20px;
  display: grid;
  row-gap: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 10px;
}

.horizontal-wrap {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 10px;
}

.image-block {
  text-align: center;
}

.image-block h2 {
  margin: 0 0 10px 0;
  font-size: 16px;
}

.image-block img {
  width: 100%; /* Images fill their container */
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.element {
  cursor: pointer;
  padding: 2px;
  color: rgb(0, 105, 194);
  background-color: rgb(201, 201, 201);
  text-decoration-line: none;
}

.element:hover {
  text-decoration-line: underline;
}


.event-group {
  display: block;
  color: black;
  margin-top: 15px;
  margin-left: 10px;
}

.event-group strong {
  font-size: 1rem;
  font-weight: bold;
}

.attribute-group {
  display: block;
  color: black;
  margin-top: 10px;
  margin-left: 10px;
}

.attribute-group strong {
  font-size: 1rem;
  font-weight: bold;
}

.textbox{
  background-color: rgb(201, 201, 201);
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-style: ridge;
  border-color: rgba(34, 46, 103, 0.6);
}

.blog-title {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.6);
}

.blog-stats,
.blog-author,
.blog-description {
  color: rgb(66, 66, 66);
  line-height: 1.6;
  width: 280px;
  font-size: 14px;
  margin-bottom: 20px;
}

.blog-figure {
  width: auto; /* Let the figure be responsive */
  text-align: center;
  margin: 10px;
}

.blog-image {
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), 0 0 20px rgba(255, 255, 255, 0.6); /* Added glow */
}

.blog-caption {
  font-size: 20px;
  color: rgb(100, 100, 100);
  margin-top: 8px;
  text-align: center;
}

.ad-text {
  width: 100%; /* Makes the ad text span the full width of its parent */
  background-color: #3388BB;
  color: white;
  text-align: center;
  padding: 18px 0;
  margin-top: 20px; /* Adds space between content and ad */
}

.shop-link {
  color: #FFD700; /* Adjust the color of the shop link */
  font-weight: bold;
  cursor: pointer;
}

.shop-link:hover {
  text-decoration: underline;
}