.margin {
  position: relative;
  height: 200px;
  width: 300px;
  background-color: rgba(186, 82, 48, 0.3);
  border: 2px dashed black; /* Dashed border */
}
.margin .border {
  position: absolute;
  top: 23px;
  left: 23px;
  height: 150px;
  width: 250px;
  background-color: rgba(251, 255, 0, 0.3);
  border: 2px solid black; /* Solid border */
}
.margin .border .padding {
  position: absolute;
  top: 23px;
  left: 23px;
  height: 100px;
  width: 200px;
  border: 2px dashed black; /* Dashed border */
  background-color: rgba(80, 255, 124, 0.3);
}
.margin .border .padding .content {
  position: absolute;
  top: 28px;
  left: 23px;
  height: 40px;
  width: 150px;
  border: 2px solid black; /* Solid border */
  background-color: rgba(0, 183, 255, 0.3);
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-family: Arial;
  font-size: 16px;
  text-align: center;
}