.base-btn {
  height: 36px;
  margin-right: 8px;
  margin-left: 8px;
}

.btn-grid {
  display: grid;
  margin: 4px;
  background-color: white;
  align-content: start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 25%;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 10px;
  border-color: rgba(160, 150, 200, 0.40)
}


.uber-btn {
  background-color: black;
  color: white;
  width: 100px;
}

.amazon-btn {
  background-color:rgb(255, 216, 20);
  color: black;
  width: 200px;
  border-radius: 18px;
  border: none;
}

.github-btn {
  background-color: rgb(46, 164, 79);
  color: white;
  font-weight: bold;
  width: 90px;
  border-radius: 4px;
  border: none;
}

.bootstrap-light-theme-btn {
  background-color: lch(70 51 300);
  color: black;
  font-weight: bold;
  width: 100px;
  border-color: black;
  border-radius: 4px;
}

.bootstrap-dark-theme-btn {
  background-color: lch(35 51 300);
  color: white;
  font-weight: bold;
  width: 100px;
  border-color: white;
  border-radius: 4px;
}

.bootstrap-get-started-btn {
  background-color: rgb(121, 82, 179);
  color: white;
  font-weight: bold;
  width: 100px;
  border: none;
  border-radius: 4px;
}

.bootstrap-download-btn {
  background-color: white;
  color: rgb(121, 82, 179);
  font-weight: bold;
  width: 100px;
  border-color: rgb(121, 82, 179);
  border-width: 1px;
}

.linkedin-apply-btn {
  background-color: blue;
  color: white;
  font-weight: bold;
  width: 250px;
  border-radius: 18px;
  border: none;
}

.linkedin-save-btn {
  background-color: white;
  color: blue;
  font-weight: bold;
  width: 50px;
  border-color: blue;
  border-radius: 18px;
  border-width: 1px;
}

.youtube-subscribe-btn {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  width: 105px;
  transition: opacity 0.15s;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
}

.youtube-subscribe-btn:hover {
  opacity: 0.8;
}

.youtube-subscribe-btn:active {
  opacity: 0.5;
}

.twitter-join-btn {
  background-color: white;
  color: rgb(6, 95, 212);
  border-color: rgb(6, 95, 212);
  border-style: solid;
  border-width: 1px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  transition: background-color 0.15s, color 0.15s;
}

.twitter-join-btn:hover {
  background-color: rgb(6, 95, 212);
  color: white;
}

.twitter-join-btn:active {
  opacity: 0.7;
}

.twitter-tweet-btn {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  width: 74px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
}