header {
  background-color: rgb(17, 17, 17);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 0 40px;
  border-color: rgb(103, 103, 103);
  border-style: solid;
  border-width: 1px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15), 0 0 20px rgba(255, 255, 255, 0.6); /* Added glow */
  z-index: 2;
}

.header-btn {
  cursor: pointer;
  transition: opacity 0.15s, box-shadow 0.15s, text-shadow 0.15s;
  margin-top: 0;
  margin-right: 10px;
  flex: 1;
  height: 50px;
  background-color: rgb(17, 17, 17);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border: none;
}

.header-btn:hover{
  opacity: 0.8;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 165, 0, 0.6); /* Glow effect */
}

.header-btn:active {
  opacity: 0.5;
}

.core-link {
  text-align: center;
  display: block;
  font-size: 18px;
  font-weight: 500;
}

.nav-link {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.search-bar {
  display: block;
  height: 25px;
  width: 600px;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  padding-inline-start: 10px;
  padding-block-start: 1px;
  padding-block-end: 1px;
}